/* 
 * Dotlane
 * Copyright 2014
 * By Francois Chalifour
 */

/* ---------------------------------------------------- *\
        Resets and overrides
\* ---------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    outline: none;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ---------------------------------------------------- *\
        Links and type
\* ---------------------------------------------------- */

html {
    height: 100%;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}

/* Titles */

h1,
h2,
h3,
h4 {
    text-align: left;
}

h1 {
    margin: 0.6em 0;
    font-size: 36px;
}

h2 {
    margin: 0.3em 0;
    font-size: 32px;
    letter-spacing: -.5px;
    text-align: left;
}

h3 {
    margin: 0.2em 0;
    font-size: 24px;
}

h4 {
    margin: 0.2em 0;
    font-size: 18px;
}

h3.text-center a{
    color: #333;
}

/* Paragraphs */

p {
    display: block;
    margin: 0 0 10px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.huge,
.lead {
    margin-bottom: 20px;
    font-weight: 200;
    line-height: 1.4;
}

.huge {
    font-size: 38px;
}

.lead {
    font-size: 24px;
}

strong,
.bold {
    font-weight: bold;
}

em,
.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 1em;
    padding-left: 1em;
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0;
}

.list-unstyled {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.list-inline {
    margin-left: -5px;
    padding-left: 0;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 6px;
    padding-left: 6px;
}

pre {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    overflow: auto;
    background-color: #eee;
}

code {
    font-family: "Source Code Pro",sans-serif;
}

p code {
    padding: 3px;
    border-radius: 3px;
    background-color: #eee;
}

/* Links */

a:link,
a:active,
a:visited {
    text-decoration: none;
    color: #78909c;
}

a.button,
.button {
    display: inline-block;
    margin: 2px;
    padding: 0 10px;
    min-height: 50px;
    min-width: 180px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: 200;
    line-height: 50px;
    color: #fff;
    background-color: #78909c;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -ms-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}

.button:active,
button:active {
    box-shadow: 0 5px 12px 0 rgba(0,0,0,.16);
}

.button:hover {
    color: #fff;
    background-color: #546e7a;
}

a.button-blue,
.button-blue {
    background-color: #03a9f4;
}

.button-blue:hover {
    background-color: #039be5;
}

a.button-green,
.button-green {
    background-color: #689f38;
}

.button-green:hover {
    background-color: #558b2f;
}

a.button-red,
.button-red {
    background-color: #f50057;
}

.button-red:hover {
    background-color: #d74b4b;
}

a.button-white,
.button-white {
    background-color: #fff;
    color: #333;
}

.button-white:hover {
    background-color: #eee;
    color: #333;
}

.button-grey {
    background-color: transparent;
    border: 2px solid #ddd;
    color: #ddd;
}

.button-grey:hover {
    background-color: #ddd;
    border: 2px solid #ddd;
    color: #fff;
}

/* ---------------------------------------------------- *\
        Layout
\* ---------------------------------------------------- */

/* Circle (with a picture of you for example) */

.img-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    line-height: 300px;
    background-color: rgba(255,255,255,0.3);
}

/* Grid (for your projects for example) */

.grid-panel {
    margin: 12px 0;
    color: #fff;
    background: #90a4ae;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -ms-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
}

.grid-panel:hover {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}

@media(min-width:1024px) {
    .grid-panel {
        float: left;
        width: 30%;
        margin: 12px;
    }
}

.grid-panel .grid-panel-illustration {
    overflow: hidden;
}

.grid-panel .grid-panel-illustration img {
    transition: opacity .3s;
}

.grid-panel:hover .grid-panel-illustration img {
    opacity: .7;
}

.grid-panel .grid-panel-heading {
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
}

.grid-panel a {
    color: #fff;
}

.grid-panel .grid-panel-body {
    padding: 24px;
    padding-top: 0;
}

.grid-panel img {
    width: 100%;
}

/* Columns (to split your content into columns) */

.row,
.grid {
    overflow: hidden;
    margin-right: -12px;
    margin-left: -12px;
}

[class*="col-"] {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.no-gutter [class*="col-"]{
    padding-right: 0;
    padding-left: 5px;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33333333333333%;
}

.col-3-2 {
    width: 66.33333333333333%;
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

/* Columns for small screens */

@media all and (max-width:768px) {
    .col-2,
    .col-3-2 {
        clear: both;
        width: 100%;
    }

    .no-gutter [class*="col-"]{
        padding-right: 12px;
        padding-left: 12px;
    }
}

@media all and (max-width:976px) {
    .col-3,
    .col-4,
    .col-5 {
        clear: both;
        width: 100%;
    }
}

/* Paragraph styles */

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* ---------------------------------------------------- *\
        Form elements
\* ---------------------------------------------------- */

form {
    width: 100%;
    margin: 0 auto;
    max-width: 768px;
    text-align: center;
}

form div {
    margin-bottom: 5px;
}

button,
input,
select,
textarea {
    margin-bottom: 5px;
    font-family: inherit;
    font-size: 100%;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    outline: none;
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #f3f3f3;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    background-color: #eee;
}

button[type="submit"],
button[type="reset"],
input[type="submit"],
input[type="reset"] {
    display: inline-block;
    padding: 0 10px;
    min-height: 50px;
    min-width: 180px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: 200;
    line-height: 50px;
    color: #fff;
}

button[type="submit"],
input[type="submit"] {
    background-color: #f50057;
}

button[type="reset"],
input[type="reset"] {
    background-color: #ddd;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
    background-color: #d74b4b;
}

button[type="reset"]:hover,
input[type="reset"]:hover {
    background-color: #ccc;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---------------------------------------------------- *\
        Page structure
\* ---------------------------------------------------- */

/* Wrap all your contents */

#dotlane-wrapper {
    position: relative;
    min-height: 100%;
}

/* Navbar header at the top */

.nav-header {
    min-height: 80px;
    line-height: 80px;
    color: #fff;
    background-color: #78909c;
}

/* Add this class if you want to fix it at the top */

.nav-header-fixed {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav-header-fixed + .content {
    margin-top: 48px;
}

/* Content of the header */

.nav-header-inner {
    padding: 0;
}

/* Logo of the header */

.nav-header-inner .logo {
    display: none;
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 16px;
}

@media(min-width:768px) {
    .nav-header-inner .logo {
        display: block;
    }
}

/* Title of the page */

.nav-header-inner .title {
    display: none;
    float: left;
    position: relative;
    margin: 0;
    font-size: 28px;
}

@media(min-width:768px) {
    .nav-header-inner .title {
        display: block;
    }
}

.nav-header-inner a {
    color: inherit;
}

/* Navigation in the header */

.nav-header-inner-right {
    float: none;
    margin: 0 auto;
    min-height: 80px;
    white-space: nowrap;
}

@media(min-width:768px) {
    .nav-header-inner-right {
        float: right;
    }
}

.nav-header-inner-right ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

@media(min-width:768px) {
    .nav-header-inner-right ul {
        float: left;
    }
}

.nav-header-inner-right ul li {
    display: inline-block;
}

.nav-header-inner-right ul li a,
.nav-header-inner-right ul li a:focus,
.nav-header-inner-right ul li a:active {
    display: block;
    padding: 0 16px;
}

.nav-header-inner-right ul li a.current {
    background-color: rgba(255,255,255,.2);
}

.nav-header-inner-right ul li a:hover {
    background-color: rgba(255,255,255,.1);
}

/* Wrap your containers */

.content {
    padding: 48px 0;
    background-color: #fff;
}

.content:nth-child(odd) {
    background-color: #f7f7f7;
}

.content-no-pdb {
    padding-bottom: 0;
}

.content-feature {
    min-height: 320px;
    line-height: 188px;
    background-color: #90a4ae;
    background-image: url(../img/feature.jpg);
    background-size: cover;
}

.content-feature p {
    line-height: normal;
}

.v-center {
    display: inline-block;
    line-height: normal;
    width: 100%;
    vertical-align: middle;
}

.container {
    margin: 0 auto;
    padding: 16px;
}

.container-header {
    padding-top: 0;
}

@media(max-width:768px) {
    .container-header {
        padding: 0;
    }
}

@media(min-width:768px) {
    .container {
        width: 716px;
    }
}

@media(min-width:992px) {
    .container {
        width: 938px;
    }
}

@media(min-width:1200px) {
    .container {
        width: 1148px;
    }
}

/* Main container */

.bg-fixed {
    background-attachment: fixed;
}

/* Footer of the page */

.nav-footer {
    position: relative;
    padding: 32px;
    color: #fff;
    background-color: #37474f;
}

.nav-footer a {
    color: #b0bec5;
    transition-duration: .15s;
}

.nav-footer a:active,
.nav-footer a:hover {
    color: #fff;
}

.nav-footer li {
    margin-bottom: 8px;
}

a.control-button-top {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 48px;
    height: 48px;
    margin-left: -24px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 24px 24px 24px;
    border-color: transparent transparent #37474f transparent;
    text-align: center;
    font-size: 2em;
    line-height: 40px;
    color: rgba(255,255,255,.8);
    -webkit-transition: top .3s;
    -moz-transition: top .3s;
    -ms-transition: top .3s;
    -o-transition: top .3s;
    transition: top .3s;
}

a.control-button-top:hover {
    top: -22px;
}

/* ---------------------------------------------------- *\
        Colors and Shadows
\* ---------------------------------------------------- */

/* Font color */

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

/* Background color */

.bg-grey-200 {
    background-color: #f7f7f7;
}

.bg-blue-grey-50 {
    background-color: #eceff1;
}

.bg-blue-grey-100 {
    background-color: #cfd8dc;
}

.bg-blue-grey-200 {
    background-color: #b0bec5;
}

.bg-blue-grey-300 {
    background-color: #90a4ae;
}

.bg-blue-grey-400 {
    background-color: #78909c;
}

.bg-blue-grey-500 {
    background-color: #607d8b;
}

.bg-blue-grey-600 {
    background-color: #546e7a;
}

.bg-blue-grey-700 {
    background-color: #455a64;
}

.bg-blue-grey-800 {
    background-color: #37474f;
}

.bg-blue-grey-900 {
    background-color: #263238;
}

.bg-light-blue-50 {
    background-color: #e1f5fe;
}

.bg-light-blue-100 {
    background-color: #b3e5fc;
}

.bg-light-blue-200 {
    background-color: #81d4fa;
}

.bg-light-blue-300 {
    background-color: #4fc3f7;
}

.bg-light-blue-400 {
    background-color: #29b6f6;
}

.bg-light-blue-500 {
    background-color: #03a9f4;
}

.bg-light-blue-600 {
    background-color: #039be5;
}

.bg-light-blue-700 {
    background-color: #0288d1;
}

.bg-light-blue-800 {
    background-color: #0277bd;
}

.bg-light-blue-900 {
    background-color: #01579b;
}

.bg-cyan-50 {
    background-color: #e0f7fa;
}

.bg-cyan-100 {
    background-color: #b2ebf2;
}

.bg-cyan-200 {
    background-color: #80deea;
}

.bg-cyan-300 {
    background-color: #4dd0e1;
}

.bg-cyan-400 {
    background-color: #26c6da;
}

.bg-cyan-500 {
    background-color: #00bcd4;
}

.bg-cyan-600 {
    background-color: #00acc1;
}

.bg-cyan-700 {
    background-color: #0097a7;
}

.bg-cyan-800 {
    background-color: #00838f;
}

.bg-cyan-900 {
    background-color: #006064;
}

.bg-teal-50 {
    background-color: #e0f2f1;
}

.bg-teal-100 {
    background-color: #b2dfdb;
}

.bg-teal-200 {
    background-color: #80cbc4;
}

.bg-teal-300 {
    background-color: #4db6ac;
}

.bg-teal-400 {
    background-color: #26a69a;
}

.bg-teal-500 {
    background-color: #009688;
}

.bg-teal-600 {
    background-color: #00897b;
}

.bg-teal-700 {
    background-color: #00796b;
}

.bg-teal-800 {
    background-color: #00695c;
}

.bg-teal-900 {
    background-color: #004d40;
}

/* Shadow */

.light-shadow {
    box-shadow: 0 5px 10px 0 rgba(255,255,255,.1);
}

.dark-shadow {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}

/* ---------------------------------------------------- *\
        Animations
\* ---------------------------------------------------- */

/* Fade in */

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {    
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {    
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

button,
input,
select,
textareaa {
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

/* ---------------------------------------------------- *\
        Notifications
\* ---------------------------------------------------- */

#notification {
    display: none;
    z-index: 9999;
    position: fixed;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: rgba(215,75,75,.95);
    cursor: pointer;
    height: 80px;
    line-height: 80px;
}

/* ---------------------------------------------------- *\
        LimogesHack
\* ---------------------------------------------------- */

.clickable {
    cursor: pointer;
}

.h-640 {
    min-height: 640px;
}

.w-768 {
    max-width: 640px;
    margin: 0 auto;
}

.icon-social {
    width: 20px;
    margin: 4px;
    position: absolute;
    left: -20px;
}

@media(max-width:768px) {
    footer img {
        display: none;
    }
}